<h2>Book now </h2>
<h6><strong>Select dates<strong></h6>

<%= simple_form_for [astro, booking], data: { controller: "bookings", bookings_price_value: astro.daily_price } do |f| %>
  <%= f.input :entry_date, as: :date, input_html: { data: { bookings_target: "entryDate" }}, html5: true %>
  <%= f.input :exit_date, as: :date, input_html: { data: { bookings_target: "exitDate" }}, html5: true %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
