

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1750&q=80);">
  <div class="container">
    <h1>Galactic Getaways</h1>
    <p>Find the best celetial bodies you want to rent</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
