.btn-ghost {
  color: #e4e4e4;
  border: 1px solid #ffffff;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: 0.6s ease;
  text-decoration: none;
}

.btn-ghost:hover {
  color: #b320e0;
  border: 1px solid #b320e0;

}
