.footer {
  background: #121111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  color: rgba(240, 227, 47, 0.3);
  height: 150px;
  flex-grow: 0;
  margin-top: auto;
  margin-bottom: auto;
  flex-shrink: 0;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(195, 151, 214);
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.6;
}
.footer .fa-heart {
  color: #f7e43b;
}
