.navbar-lewagon {
  justify-content: space-between;
  background: #121111;
  color: whitesmoke;
  display: flex;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: white;
}

.navbar-lewagon .nav-link {
  color: azure;
}

.navbar-lewagon .navbar-brand img {
  width: 340px;
}
